<!doctype html>

<html ng-app="calendarApp">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="modules/angular/angular.min.js"></script>
  </head>

  <body>

    <main ng-controller="EventController as event">

      <h1>Calendar App</h1>

      <section class="create-event">

        <h2>Create Event</h2>

        <form class="event-form">
          <p>
            <label for="title">
              <input type="text" name="title" id="title" placeholder="Event Title" ng-model="event.title">
            </label>
          </p>
          <p>
            <label for="description">
              <input type="text" name="description" id="description" placeholder="Event Description" ng-model="event.description">
            </label>
          </p>
          <p>
            <button type="button" ng-click="event.create()">Create</button>
          </p>
        </form>

      </section>

      <section class="events">

        <h2>Your Events</h2>

        <article class="event" ng-repeat="item in event.events" ng-click="event.edit(item)" ng-cloak>
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
        </article>

      </section>

      <section class="edit-event" ng-cloak ng-show="event.change">

        <h2>Edit Event</h2>

        <form class="edit-form">
          <p>
            <label for="edit-title">
              <input type="text" name="edit-title" id="edit-title" placeholder="Event Title" ng-model="event.change.title">
            </label>
          </p>
          <p>
            <label for="edit-description">
              <input type="text" name="edit-description" id="edit-description" placeholder="Event Description" ng-model="event.change.description">
            </label>
          </p>
          <p>
            <button type="button" ng-click="event.update(event.change)">Update</button>
            <button ng-click="event.remove(event.change)">Remove</button>
          </p>
        </form>

      </section>

    </main>

    <script src="js/calendar.module.js"></script>
    <script src="js/event.factory.js"></script>
    <script src="js/event.controller.js"></script>
  </body>

</html>
